
/* @font-face {
  font-family: 'Alibaba-PuHuiTi-Light';
  src: url('../fonts/Alibaba-PuHuiTi-Light.ttf');
} */

/* @font-face {
  font-family: 'Alibaba-PuHuiTi-Regular';
  src: url('../fonts/Alibaba-PuHuiTi-Regular.ttf');
} */

/* @font-face {
  font-family: 'Alibaba-PuHuiTi-Medium';
  src: url('../fonts/Alibaba-PuHuiTi-Medium.ttf');
} */

@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'gillsans-heavy';
  src: url('../fonts/gillsans-heavy.ttf');
}

